<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>advertisement</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header th:insert="./fragments/navbar.html :: nav"> </header>

<div class="container">

    <div class="profile_wrapper">
        <div class="profile-container">
            <div class="image-wrapper">
                <div class="regular-text" th:object = "${pilot}">
                    <img th:src="@{'https://images.evetech.net/characters/' + ${pilot.charId} +'/portrait?size=256'}"/>
                </div>
            </div>
            <div class="text-wrapper">
                <p><b>CREATE HERE</b></p>
                <form class="regular-text" action="#" th:action="@{/create-advertisement}" th:object="${pilot}" method="post">


                    <!--Статичный текст-->
                    <p><b>Character:</b> <span th:utext="${pilot.charName}"></span></p>
                    <p><b>Skill Points:</b> <span th:utext="${pilot.totalSp}"></span></p>
                    <!-- поля для заполнения-->
                    <label for="specialization"><b>Specialization : </b></label>
                    <input type="text" th:field="*{specialization}" id="specialization" placeholder="specialization">
                    <br/>
                    <label for="area"><b>Area of Operations : </b></label>
                    <input type="text" th:field="*{specialization}" id="area" placeholder="area">
                    <br/>
                    <label for="timeZone"><b>Time Zone : </b></label>
                    <input type="text" th:field="*{specialization}" id="timeZone" placeholder="timeZone">
                    <br/>

                    <label for="advertText"><b>BIO : </b></label>
                    <input type="text" th:field="*{advertText}" id="advertText" placeholder="Advert Text">
                    <br/>
<!--                    кнопки две, но ни одна не работает-->
<!--                    подозреваю, что правильная первая, ибо она-->
<!--                    врубает редирект на эрор-->
                    <input type="submit" value="Create advertisement">
                </form>
<!--                эта кнопка тут просто для красотыб ибо ничего не происходит-->
                <form action="create-advertisement">
                    <input type="submit" value="Create advertisement">
                </form>
            </div>
        </div>
    </div>
    <div class="front">
        <div class="stars"></div>
        <div class="twinkling"></div>
    </div>
</div>
</body>
</html>