<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create advertisement</title>
</head>
<body>
<p>CREATE HERE</p>
<!--<form method="post" th:action="@{''}" th:object="${pilot}">-->
<!--    <p><b>Char Id:</b> <span th:utext="${pilot.charId}"></span></p>-->
<!--    <input type="text" th:field="${pilot.advertText}">-->
<!--    <input type="submit" value="Create advertisement">-->
<!--</form>-->
<!--<form action="#" th:action="@{/create-advertisement}" th:object="${pilot}" method="post">-->
<!--    <p><b>Char Id:</b> <span th:utext="${charId}"></span></p>-->
<!--    <input type="text" th:field="*{advertText}">-->
<!--</form>-->
<form:form action="" modelAttribute="pilot" method="post">

</form:form>
</body>
</html>