<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="../static/css/css/style.css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




</head>


<body>
<header th:insert="./fragments/navbar.html :: nav"> </header>
<div class = "wrapper">
    <div class="container">

        <p class="main-text">
            Sorry space cat, but this galaxy doesn't exist
        </p>

        <div class="errorStatus">
            <table class="centered">
                <tr class="main-text" >
                    <td>Error</td>

                    <td th:text="${status}"/></td>
                </tr>
            </table>
        </div>
</div>
<div class="front">
    <div class="stars"></div>
    <div class="twinkling"></div>
</div>
</div>
</body>
</html>