<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pilot list</title>
</head>
<body>
<div th:switch="${pilots}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Char Id</th>
                <th>Char name</th>
                <th>Image link</th>
                <th>Corp Id</th>
                <th>Corp Name</th>
                <th>Ally Id</th>
                <th>Ally name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pilot : ${pilots}">
                <td th:text="${pilot.charId}"></td>
                <td th:text="${pilot.charName}"></td>
                <td th:text="${pilot.charImage}"></td>
                <td th:text="${pilot.corpId}"></td>
                <td th:text="${pilot.corpName}"></td>
                <td th:text="${pilot.allyId}"></td>
                <td th:text="${pilot.allyName}"></td>
                 <!-- <td th:text="${user.lastName}"></td> -->
                <!-- <td><a th:href="@{user-update/{id}(id=${user.id})}">Edit</a></td> -->
                <!-- <td><a th:href="@{user-delete/{id}(id=${user.id})}">Delete</a></td> -->
            </tr>
            </tbody>
        </table>
    </div>
    <!-- <p><a href="/user-create">Create user</a></p>-->
 </div>
 </body>
 </html>