<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:>
<head>
    <meta charset="UTF-8">
    <title>Pilot profile</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

</head>
<body>
<header th:insert="./fragments/navbar.html :: nav"> </header>
<!--  profile/charId 31581355 -> propisat iz logina if id != access id = redirect to mainPage -->
<br/>
<br/>
<br/>
<div class="container">

    <div class="profile_wrapper">
        <div class="profile-container">
            <div class="image-wrapper">
                <div class="regular-text" th:object = "${pilot}">
                    <img th:src="@{'https://images.evetech.net/characters/' + ${pilot.charId} +'/portrait?size=256'}"/>
                </div>
            </div>
            <div class="text-wrapper">
                <div class="regular-text" th:object = "${pilot}">
                    <p><b>Char Id:</b> <span th:utext="${pilot.charId}"></span></p>
                    <p><b>Char Name:</b> <span th:utext="${pilot.charName}"></span></p>
                    <p><b>Corp Id:</b> <span th:utext="${pilot.corpId}"></span></p>
                    <p><b>Corp Access:</b> <span th:utext="${pilot.corpAccess}"></span></p>
                    <p><b>Ally Id:</b> <span th:utext="${pilot.allyId}"></span></p>
                    <p><b>Total Sp:</b> <span th:utext="${pilot.totalSp}"></span></p>
                    <p><b>Advert text:</b> <span th:utext="${pilot.advertText}"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="front">
        <div class="stars"></div>
        <div class="twinkling"></div>
    </div>
</div>
</body>
</html>