<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pilot list</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header th:insert="./fragments/navbar.html :: nav"> </header>
<main role="main" class="">
    <div th:switch="${pilots}">
        <h2 th:case="null">No users found!</h2>
        <div th:case="*">


            <div class="pilot-list_container">

                <div class="pilot-list_wrapper">
                    <div class="pilot-list-container">
                        <div class="text-wrapper_customers">

                            <table id="customers">

                                <thead>
                                <tr>

                                    <th> Image </th>

                                    <th>Character</th>
                                    <th>Skill Points</th>
                                    <th>Specialization</th>
                                    <th>Area of Operations</th>
                                    <th>Time Zone</th>
                                    <th>BIO</th>
                                    <!-- <th>Ally name</th>-->
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="pilot : ${pilots}">
                                    <td> <img th:src="@{'https://images.evetech.net/characters/' + ${pilot.charId} +'/portrait?size=64'}"/></td>
                                    <td th:text="${pilot.charName}"></td>
                                    <td th:text="${pilot.totalSp}"></td>
                                    <td th:text="${pilot.specialization}"></td>
                                    <td th:text="${pilot.area}"></td>
                                    <td th:text="${pilot.timeZone}"></td>
                                    <td><a th:href="@{pilot-advertisement/{id}(id=${pilot.charId})}">More...</a></td>
                                    <!-- <td><a th:href="@{user-delete/{id}(id=${user.id})}">Delete</a></td> -->
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="front">
                    <div class="stars"></div>
                    <div class="twinkling"></div>
                </div>
            </div>

        </div>
        <!-- <p><a href="/user-create">Create user</a></p>-->
    </div>
</main><!-- /.container -->
</body>
</html>